// ion-item {
//   --background: #fff;
//   --color: rgb(15, 15, 15);
//   margin-right: 10px;
// }

// // ion-button {
// //   --background: #062f77;
// // }

// .passwordIcon {
//   font-size: 2rem !important;
//   position: relative !important;
//   margin: 0 auto !important;
// }
// .actions{
//   margin: 10px 0 0 15px;
// }
.auth-contain {
  // background-image: url(/assets/images/login-bg.jpg);
  background: rgba(216, 41, 61, 1);
  background: -moz-linear-gradient(top, rgba(216, 41, 61, 1) 0%, rgba(2, 100, 165, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(216, 41, 61, 1)), color-stop(100%, rgba(2, 100, 165, 1)));
  background: -webkit-linear-gradient(top, rgba(216, 41, 61, 1) 0%, rgba(2, 100, 165, 1) 100%);
  background: -o-linear-gradient(top, rgba(216, 41, 61, 1) 0%, rgba(2, 100, 165, 1) 100%);
  background: -ms-linear-gradient(top, rgba(216, 41, 61, 1) 0%, rgba(2, 100, 165, 1) 100%);
  background: linear-gradient(to bottom, rgba(216, 41, 61, 1) 0%, rgba(2, 100, 165, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8293d', endColorstr='#0264a5', GradientType=0);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  position: relative;

  &:before {
    content: "";
    background-image: url(/assets/images/login-bg.jpg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.45;
  }

  .contain-main {
    position: relative;
  }

  .logo {
    width: 120px;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
    }
  }

  h2 {
    margin: 40px 0 20px;
    color: #272727;
    text-align: center;
  }

  .form-field {
    position: relative;
    margin-bottom: 16px;

    ion-input {
      --background: #fff;
      color: #231f20;
      --padding-start: 16px;
      --padding-end: 16px;
      border-radius: 3px;

      &.password {
        --padding-end: 30px;
      }
    }

    ion-icon {
      position: absolute;
      right: 12px;
      top: 10px;
      color: #585858;
      font-size: 20px;
      z-index: 2;
    }
  }

  .form-action {
    ion-button {
      --ion-color-base: #0364a6 !important;
      width: 100%;
      font-size: 14px;
      height: 42px;
      text-transform: uppercase;
      --border-radius: 30px;
      &.ion-color-dark{
        --ion-color-base: #222428 !important
      }
    }
  }
}
.pattern-class{
  white-space: pre-wrap;
  // color: red;
}