ion-item {
  --background: #3880ff;
  --color: #fff;
}

ion-button {
  --background: #062f77;
}

.passwordIcon {
  font-size: 2rem !important;
  position: relative !important;
  margin: 0 auto !important;
}