<ion-content padding>

  <form class="login-form" #f="ngForm" novalidate (ngSubmit)="f.form.valid && changePassword(f)">
    <ion-grid>
      <ion-row color="light" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>{{ 'changePassword' | translate }}</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="password" [type]="passwordType" placeholder="{{'newPassword' | translate}}"
                [(ngModel)]="changePswdForm.newPassword"
                #password="ngModel" autocomplete="false" required minlength="6" tabindex="1"
                [ngClass]="{ 'is-invalid': password.invalid }" clearOnEdit="false"></ion-input>
              <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>

            <ion-item>
              <ion-input name="confirmPassword" [type]="cnfPasswordType" placeholder="{{ 'confirmPassword' | translate }}"
                [(ngModel)]="changePswdForm.confirmPassword"
                #cnfpassword="ngModel" autocomplete="false" required minlength="6" tabindex="2"
                [ngClass]="{ 'is-invalid': cnfpassword.invalid }" clearOnEdit="false"></ion-input>
              <ion-icon item-end [name]="cnfPasswordIcon" class="passwordIcon" (click)='hideCnfShowPassword()'></ion-icon>
            </ion-item>

          </div>

          <div class="actions" padding>
            <ion-button size="medium" type="submit" [disabled]="requestProcess">{{'change' | translate}}</ion-button>
            &nbsp;
            <ion-button size="medium" color="dark" type="button" [routerLink]="['/login']">{{'cancel' | translate}}</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>

      </ion-row>
    </ion-grid>
  </form>

</ion-content>