<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104606958058-781sbktq82vknenj5f09d303bfm2imot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104606958058-781sbktq82vknenj5f09d303bfm2imot</string>
	<key>API_KEY</key>
	<string>AIzaSyBYq-b5l_txkGf8Hhuaya6GmlYMRprN3uI</string>
	<key>GCM_SENDER_ID</key>
	<string>104606958058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.bollettininotarili</string>
	<key>PROJECT_ID</key>
	<string>bollettini-notarili-f6e3c</string>
	<key>STORAGE_BUCKET</key>
	<string>bollettini-notarili-f6e3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104606958058:ios:2a2702835d3dfe8a1db293</string>
	<key>DATABASE_URL</key>
	<string>https://bollettini-notarili-f6e3c.firebaseio.com</string>
</dict>
</plist>