<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452470009134-dogo96juppj6fcpg0863bkj891nhet7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452470009134-dogo96juppj6fcpg0863bkj891nhet7f</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ_gu_o2RAucPRkV474ZwdFvZgPBBHnB8</string>
	<key>GCM_SENDER_ID</key>
	<string>452470009134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.bollettininotar</string>
	<key>PROJECT_ID</key>
	<string>bollettini-notarili</string>
	<key>STORAGE_BUCKET</key>
	<string>bollettini-notarili.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452470009134:ios:83b7b3ea4e57a7c0dfdebf</string>
	<key>DATABASE_URL</key>
	<string>https://bollettini-notarili.firebaseio.com</string>
</dict>
</plist>