<app-header></app-header>
<ion-content padding>
  <ion-card>
    <form (ngSubmit)="searchSubmit()">
      <ion-searchbar animated #searchInput="ngModel" [(ngModel)]="search" name="search"
        placeholder="{{ 'searchFile' | translate }}..." mode="ios"></ion-searchbar>
    </form>

    <ion-list>
      <ion-item>
        <ion-label>{{ 'searchFromCategory' | translate }}</ion-label>
        <ion-select [(ngModel)]="selectedCategory" name="Category" [interfaceOptions]="customAlertOptions"
          interface="alert" okText="{{ 'select' | translate }}" cancelText="{{ 'unselectCategory' | translate }}"
          (ionChange)="searchUpdate()" (ionCancel)="searchUpdate(true);">
          <ion-select-option [value]="cat" *ngFor="let cat of categoryList">{{ cat.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="searchFromBookmark" name="SearchFromBookmark" (ngModelChange)="searchUpdate()"
          mode="ios">
        </ion-checkbox>&nbsp;
        <ion-label>{{ 'searchFromBookmarks' | translate }}</ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-list scroll="false" class="listing-card">
    <ion-card *ngFor="let file of searchedFiles" (click)="viewFile(file)">
      <ion-card-header>
        <div>
          <ion-card-title>{{file?._source?.title}}</ion-card-title>
          <ion-card-subtitle *ngIf="file?._source?.categoryId">
            {{ file._source.categoryId | categoryPipe : categoryList }}
          </ion-card-subtitle>
        </div>
        <div class="icon-box">
          <span class="file-icon" (click)="$event.stopPropagation()">
            <ion-icon name="star-outline" size="medium" [ngClass]="{'highlight': file?._source?.isBookMarK?.length > 0}"
              (click)="$event.stopPropagation();bookmarkFile(file)">
            </ion-icon>
          </span>
          <span class="file-icon" (click)="$event.stopPropagation()">
            <ion-icon name="download-outline" size="medium"
              [ngClass]="{'highlight': file?._source?.isDownload?.length > 0}"
              (click)="$event.stopPropagation();downloadFile(file)">
            </ion-icon>
          </span>
        </div>
      </ion-card-header>
      <ion-card-content *ngIf="file?.highlight?.text">
        <span class="keywords" *ngFor="let keyWord of file?.highlight?.text" [innerHTML]="keyWord"></span>
      </ion-card-content>
      <ion-footer>
        <span class="page-no">{{'pageNo' | translate}} {{file?._source?.location}}</span>
      </ion-footer>
    </ion-card>
  </ion-list>
</ion-content>