iframe {
  max-width: 100% !important;
}
.buttons {
  display: flex;
  justify-content: center;
  align-content: space-between;
  ion-button {
    text-transform: capitalize !important;
  }
}
.pdf-container {
  width: 100%;
  margin-top: 10px;
  height: 70vh;
}
