<ion-content fullscreen scroll="false" no-padding>
  <div class="buttons">
    <ion-button [routerLink]="['/home']">{{'backToHome' | translate}}</ion-button>
    <ion-button (click)="showAll()" *ngIf="isDisplayFile">{{'showAllPages' | translate}}</ion-button>
  </div>
  <!-- <iframe [src]='fileSrc' height="700px" width="900px" *ngIf="fileSrc"></iframe> -->
  <!-- <iframe [src]="fileSrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen
    *ngIf="fileSrc" height="700px" width="900px"></iframe> -->
  <div class="pdf-container" scrollY="true">
    <pdf-viewer [src]="fileSrc" [page]="page" [show-all]="showAllPages" [show-borders]="true"
      *ngIf="fileSrc" [fit-to-page]="true" (after-load-complete)="onPDFRender()" (error)="onError()">
    </pdf-viewer>
  </div>

</ion-content>