/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// ion-router-outlet {
//   :not(app-login):not(app-reset-password).ion-page {
//     margin-top: 70px !important;
//   }
// }
.keywords {
  em {
    font-weight: bold !important;
  }
}
.sc-ion-input-ios-s {
  &.file-search {
    margin-top: 5px;
    height: 40px;
    font-weight: 300;
    font-size: 15px;
    padding: 0 0 0 10px !important;
  }
}
.pdfViewer {
  .page {

    overflow: hidden !important;
  }
}
ion-content {
  --background: #e4ebf6;
  
}
